<div class = "two-third">
  <div class="painting">
    <h2><%= @painting.title %></h2>
    <%= image_tag @painting.image_url(:scaled_image) if @painting.image? %><br />
    <div class="price" ><b>Price:</b> <%= @painting.credits%> credits</div>
    <div class = "inspiration">Artist Inspiration:<br />
      <%= @painting.inspiration %>
    </div>
  </div>
</div>
<%= render "sidebar" %>

