  <div id="page-top">
    <div id="header-wrapper">
      <!-- Begin Header -->
      <div id="header">
        <div id="logo"><a href="index.html"><img src="/images/logo.png" alt="Delphic" /></a></div>
        <!-- Logo -->
					<div id = "user_field" >
						<%if user_signed_in? %>
							<p>
								Welcome <%= current_user.email %>&nbsp;!&nbsp; <%= link_to "Log out", destroy_user_session_path, :method => 'delete' %><br /><br />
								<span>Available Credits : <b id = "show_credits"><%= current_user.credits %></b> &nbsp;|&nbsp;<a href="#">Buy credits</a></span>
						</p>
						<% else %>
							<%= render "devise/sessions/new" %><br />
							<span><%= link_to "Not a Member? Sign Up for Free.", new_user_registration_path %></span>
						<% end %>
					</div>
      </div>
      <!-- End Header -->
    </div>
    <!-- Begin Menu -->
        <div id="menu-wrapper">
          <div id="smoothmenu1" class="ddsmoothmenu">
            <ul>
              <%if user_signed_in? %>
                <li><%= link_to "Home", root_path, :class => "selected" %></li>
                <li><%= link_to "Browse Paintings", paintings_path %></li>
                <li><%= link_to "Upload Painting", new_painting_path %></li>
              <% else %>
              <li><%= link_to "Browse Paintings", paintings_path %></li>
              <li><a href="portfolio.html">Take a Tour</a></li>
              <li><a href="services.html">Who we are?</a></li>
              <% end %>
              <li><a href="/home/contact.html">Contact Us</a></li>             
            </ul>
          </div>
        </div>
        <!-- End Menu -->
  </div>